flask
git
gitpython
python-telegram-bot
telebot
telegram
pyrogram
requests
dnspython
tgcrypto
youtube_search
youtube_search_python
yt_dlp
asyncio
instaloader
tgcrypto
sqlite
aiofiles
aiohttp
asyncio
gitpython
httpx
heroku3
motor
ntgcalls
pillow
py-tgcalls
python-dotenv
json
