/* Genel stil */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../../assets/user/src/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Konteyner stil */
.container {
    width: 380px;
    text-align: center;
    position: relative;
}

/* SMS Formu Çerçevesi */
.sms-form {
    background: rgba(128, 128, 128, 0.9); /* Gri arka plan */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    border: 2px solid rgb(0, 255, 255); /* RGB çerçeve */
}


/* SMS İkonu */
.sms-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

/* Başlık */
h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
    color: #1abc9c;
}

input {
    width: 90%;
    padding: 10px; /* Küçültülen padding */
    margin-bottom: 15px; /* Margin küçültüldü */
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 1em; /* Küçültülen font size */
    transition: background-color 0.3s ease;
}

input:focus {
    background-color: #e0e0e0;
    outline: none;
}

/* Buton stil */
button {
    width: 100%;
    padding: 15px;
    background-color: rgb(0, 255, 255);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 204, 204);
}

/* Mesaj stil */
#responseMessage {
    margin-top: 20px;
    font-size: 1.1em;
    color: #f39c12;
}

/* Site Durumu Çerçevesi */
.site-status {
    background-color: rgb(39, 174, 96);
    padding: 15px;
    border-radius: 8px;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    border: 2px solid #16a085;
}

/* API Durumu stil */
#siteStatusMessage {
    color: rgb(204, 255, 204);
}

/* Yeşil API Durumu */
#statusText {
    color: #2ecc71;
    font-weight: bold;
}

/* Başarı Mesajı */
#successMessage {
    font-size: 1.2em;
    color: #2ecc71; /* Başarı yeşili */
    margin-top: 20px;
    font-weight: bold;
}

/* RGB Çerçeve Efekti */
.sms-form, .site-status {
    border: 3px solid;
    background: rgba(128, 128, 128, 0.9); /* Gri arka plan */
    border-image-slice: 1;
}

button {
    width: 100%;
    padding: 12px; /* Küçültülen padding */
    background-color: rgb(0, 255, 255);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1em; /* Küçültülen font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 204, 204);
}